* {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/* #skills-icon {
  text-align: left;
  padding-right: 10px;
} */

h1,
h2,
h3 {
  width: fit-content;
  margin-top: 10px;
  margin-left: 60px;
}

h5 {
  text-align: center;
}

.header {
  height: 140px;
}

.title {
  width: fit-content;
  border-width: 0px 0px 1px 1px;
  border-style: dashed dotted;
  border-color: black;
}

.title,
.profession,
#projects-title {
  padding: 5px;
}

.title,
#projects-title {
  background-color: yellow;
}

#projects-title {
  border-width: 1px 0px 0px 1px;
  border-style: dotted dashed;
  border-color: black;
}

.social-email {
  margin: 5px 5px 5px 12px;
  position: fixed;
  top: 0;
  left: 0;
}

.social-email li {
  margin-top: 5px;
}

.email {
  position: relative;
  padding: 7px;
  margin: 10px;
  font-size: 15px;
  background-color: red;
  color: white;
  letter-spacing: 3px;
  overflow: hidden;
}
.email:after {
  content: '';
  position: absolute;
  margin: -20px;
  width: 500px;
  height: 40px;
  transform: rotate(45deg);
  background-color: #000;
  box-shadow: 0 0 0 250px #522d5b;
  filter: opacity(50%);
}

.photo-skills {
  position: fixed;
  top: 0;
  right: 0;
}

#photo-matt {
  padding: 5px;
  object-fit: cover;
  height: 100px;
  width: 80px;
  margin: 5px;
  border-radius: 10px 10px 10px 20px;
  filter: invert(100%);
}

#photo-matt-inv {
  padding: 5px;
  object-fit: contain;
  height: 100px;
  width: 80px;
  margin: 5px;
  border-radius: 40px 10px 10px 30px;
  position: absolute;
  top: 0;
  right: 0;
  filter: opacity(75%);
  background-color: transparent !important;
}

/* projects */

.project-container {
  margin-top: 20px;
}

#projects-title,
#project-title {
  margin: 10px;
}

.project-title-container {
  width: fit-content;
  border-style: dashed;
  border-width: 1px 0px 0px 0px;
  padding-top: 5px;
}

#project-title {
  display: inline;
}

#info-icon {
  display: inline;
}

.project-details-popup {
  position: absolute;
  margin: 10px 0px 0px 20px;
  background-color: red;
  width: 250px;
}

.project-details-popup:after {
  content: '';
  position: absolute;
  /* margin: -40px; */
  width: 200px;
  height: 40px;
  transform: rotate(10deg);
  background-color: red;
  box-shadow: 0 0 0 250px #522d5b;
  filter: opacity(10%);
}

.project-details-popup p {
  padding: 5px;
  font-size: 15px;
  color: white;
}

.video-container {
  display: grid;
  grid-template-columns: 250px 110px;
  padding: 10px 0px 0px 20px;
  overflow: hidden;
}

.video-container img {
  object-fit: contain;
}

#cover {
  object-fit: cover;
}

video {
  width: 250px;
  height: 350px;
  object-fit: cover;
  /* border-style: dashed; */
}

.sections-container {
  display: grid;
  /* gap: 5px; */
  grid-auto-rows: 1fr 1fr;
  height: 90%;
  margin: 10px;
}

.video-container a {
  display: block;
}

.repo-links-container {
  display: grid;
  grid-auto-rows: 140px 1fr;
  row-gap: 0;
}

.repo-links {
  text-align: center;
  border-style: solid dashed;
  border-width: 0px 0px 1px 1px;
  height: fit-content;
}

.repo-link {
  margin-bottom: 10px;
  font-size: 15px;
}

.repo-links a {
  margin-bottom: 5px;
}

.repo-links-under {
  border-style: dashed;
  border-width: 0px 0px 0px 1px;
}

.skills-list-container {
  background-color: white;
  margin-top: 10px;
}

.skill-icon {
  height: 40px;
}
